<%-include('../partials/head')%>

<body class="bg-[#f7f9fb] font-sans text-[#333]">
  
  <%-include('../partials/navbar')%>
  <main class="px-6 sm:px-12 md:px-20 lg:px-32 py-8">
     <!-- Page Heading -->
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold text-[#007B8A]">Doctors</h1>
    <div class="space-x-3">
      <a href="/doctors/new" class="bg-[#007B8A] text-white px-4 py-2 rounded-md hover:bg-[#006374] transition">Add Doctor</a>
      <a href="/patients" class="bg-[#007B8A] text-white px-4 py-2 rounded-md hover:bg-[#006374] transition">Find Patients</a>
    </div>
  </div>
  </main>

</body>
</html>
