<%-include('../partials/head')%>

<body class="bg-[#f7f9fb] font-sans text-[#333]">
  
  <%-include('../partials/navbar')%>
  <main class="grid grid-cols-[repeat(auto-fit,_minmax(250px,_1fr))] gap-8 p-8">
    
  </main>

</body>
</html>